:root {
    --tigerseye: #D98338;
    --honey: #F2B13F;
    --cream: #FDFFF7;
    --sand: #FFFACD;
    --royal: #8645f7;
    --crimson: #992409;
    --charcoal: #1C1C1C;
}

html{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom,  var(--royal) 0%, var(--tigerseye) 33%, var(--honey) 66%, var(--sand) 100%);
    text-shadow: 3px 3px 7px var(--charcoal);
  }

  header {
    position: relative;
    text-align: center;
    color: var(--cream);
    border-bottom: 2px solid var(--cream);
    text-shadow: 5px 5px 10px var(--charcoal);
    padding: 10px;
  }

  header h1 {
    font-size: 300%;
    color: var(--cream);
    margin: 20px auto;
  }

  header p{
    font-size: small;
  }

  nav{
    position:sticky;
    width:480px;
    margin: 20px auto;
    height: 40px;
  }

  nav ul a{
    display:inline-block;
    width:160px;
    padding:10px 10px;
    margin:-1px -5px -1px -1px;
    text-decoration: none;
    color: var(--cream);
  }

  nav ul a:hover{
    background:rgba(255,255,255,.1);
    cursor:pointer;
    text-decoration: underline;
  }

  nav ul{
    border: 1px solid var(--cream);
  }

  content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    left: auto;
    position: relative;
    float: right;
    border-bottom: 2px solid var(--cream);
    justify-content: space-evenly;
  }
  
  content p{
    color: var(--cream);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 500px;
    line-height: 1.5;
  }

  #me{
    display: flex;
    flex-wrap: wrap;
    object-fit:cover;
    border-radius: 10px;
    border: 2px solid var(--cream);
    width: 280px;
    height: 230px;
    margin: 20px;
    box-shadow: 5px 5px 10px var(--charcoal);
  }

  aside{
    height: 800px;
    width: 20%;
    border-right: 2px solid var(--cream);
    background-image: url("./photos/yellow-purple-gradient.png");
  }

  aside h3{
    font-size: 32px;
    color: var(--cream);
    text-align: center;
    padding: 150px 10px;
    width: 100%;
    position: relative;
    text-shadow: 2px 2px 5px var(--charcoal);
  }

  .sidebar{
    position: relative;
    padding: 15%;
  }

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("./photos/purple-brick-wall.jpg");
    position: relative;
  }

  footer h4{
    margin: 20px;
  }

/* Scales until 250px width (incredibly small) */

@media only screen and (max-width: 1000px){
  content{
    font-size: 12px;
    width: 75%;
    left: auto;
    font-size: smaller;
    padding: 10px;
  }
  #me{
    width: 200px;
    height: 150px;
  }
  aside{
    width: 25%;
  }
  aside h3{
    font-size: 14px;
  }
  nav{
    width: 240px;
  }
  nav ul{
    width: 240px;
    display: inline-block;
  }
  nav ul a{
    width: 80px;
  }
}

@media only screen and (max-width: 500px){
  content p{
    font-size: 10px;
  }
  #me{
    width: 50%;
    height: 50%;
  }
  aside{
    width: 25%;
  }
  aside h3{
    font-weight: lighter;
    font-size: 11px;
  }
}