:root {
    --tigerseye: #D98338;
    --honey: #F2B13F;
    --cream: #FDFFF7;
    --sand: #FFFACD;
    --royal: #8645f7;
    --crimson: #992409;
    --charcoal: #1C1C1C;
}

#bg{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
  background: var(--cream);
  background: linear-gradient(to bottom,  var(--royal) 0%, var(--tigerseye) 33%, var(--honey) 66%, var(--sand) 100%);
  }

  nav{
    width:100%;
    position:relative;
    width:480px;
    margin: 20px auto;
  }
  nav ul li{
    display:inline-block;
    width:160px;
    text-align:center;
    font-family:Helvetica, sans-serif;
    border: 1px dashed rgba(255,255,255, 0);
    color:var(--cream);
    padding:10px 0 10px 0;
    margin:-1px -5px -1px -1px;
    cursor:pointer;

  }
  nav ul li:hover{
    background:rgba(255,255,255,.1);
  }
  nav ul{
    border: 1px solid var(--cream);
  }
