:root {
    --tigerseye: #D98338;
    --honey: #F2B13F;
    --cream: #FDFFF7;
    --sand: #FFFACD;
    --royal: #8645f7;
    --crimson: #992409;
    --charcoal: #1C1C1C;
}

html{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: linear-gradient(to bottom,  var(--royal) 0%, var(--tigerseye) 33%, var(--honey) 66%, var(--sand) 100%);
  }

  header {
    position: relative;
    text-align: center;
    color: var(--cream);
    border-bottom: 2px solid var(--cream);
    text-shadow: 5px 5px 10px var(--charcoal);
    padding: 10px;
  }

  header h1 {
    font-size: 300%;
    color: var(--cream);
    margin: 20px auto;
  }

  header p{
    font-size: small;
  }

  nav{
    position:sticky;
    width:480px;
    margin: 20px auto;
    height: 40px;
  }

  nav ul li{
    display:inline-block;
    width:160px;
    padding:10px 10px;
    margin:-1px -5px -1px -1px;
  }

  nav ul li:hover{
    background:rgba(255,255,255,.1);
    cursor:pointer;
    text-decoration: underline;
  }

  nav ul{
    border: 1px solid var(--cream);
  }

  aside{
    height: 800px;
    width: 252px;
    border-right: 2px solid var(--cream);
    background-image: url("./photos/yellow-purple-gradient.png");
  }

  aside h3{
    font-size: 32px;
    color: var(--cream);
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    margin: auto;
    position: relative;
    text-shadow: 2px 2px 5px var(--charcoal);
  }

  .sidebar{
    position: relative;
    padding: 15%;
  }

@media only screen and (max-width: 1000px){
  aside{
    width: 25%;
  }
  aside h3{
    font-size: 14px;
  }
  nav{
    width: 240px;
  }
  nav ul{
    width: 240px;
    display: inline-block;
  }
  nav ul li{
    width: 80px;
  }
}

@media only screen and (max-width: 500px){
  aside{
    width: 25%;
  }
  aside h3{
    font-weight: lighter;
    font-size: 10px;
  }
}